[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
discord = "*"
dateparser = "*"
pendulum = "*"
pytz = "*"
geopy = "*"
timezonefinder = {extras = ["numba"], version = "*"}
watchgod = "*"
"discord.ext.menus" = "*"
jishaku = "*"
pillow = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.9"
